.b-slider {
    --tst: bottom 0.5s ease 0s;
}

.slider-standard.swiper {
    width: 100%;
}

.slider-standard .swiper-slide {
    background-position: center;
    background-size: cover;
    height: auto;
    overflow: visible;
    width: 85%;

    @media (min-width: 640px)  { width: 50%; }
    @media (min-width: 1024px) { width: 34%; }
    @media (min-width: 1280px) { width: 32%; }
}
