.b-values {
	.__card:nth-child(even) {
		translate: 0 50px;
	}

	.__icon {
		top: -20px;
		left: 40px;
	}

	.__icon img {
		width: auto;
		max-width: 64px;
		height: 64px;
		object-fit: contain;
	}

	.__text> :last-child,
	.__intro> :last-child {
		margin-bottom: 0;
	}

	@media (max-width: 639px) {
		.__card:nth-child(even) {
			translate: none;
		}
	}

	 .__card:nth-child(2n) {
		margin-top: -50px !important;
		margin-bottom: 50px !important;
	}
}